.link {
  text-decoration: none;
  font-weight: bold;
  color: #59b0da; }

.headline--primary {
  font-size: 2.2em;
  padding: 0.5em 1em 1em 1em;
  line-height: 1em;
  font-weight: bold;
  color: #5bd4be; }

.headline--secondary {
  font-size: 1.2em; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

ul {
  list-style: none; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .form .form__input {
    font-size: 0.9em;
    font-weight: bold;
    border: none;
    border-bottom: #5bd4be 8px solid;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    margin-left: 1em;
    margin-right: 1em;
    padding: 1em;
    margin-bottom: 2em; }
  .form .form__label--hidden {
    display: none; }

.img--avatar {
  margin: auto;
  padding: 1.5em; }

.theme__colors {
  border-radius: 5px;
  padding: 0.6em;
  font-size: 1.2em;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  display: block;
  width: 100%;
  margin-top: 1.3em;
  text-transform: uppercase;
  font-size: 1.1em; }

.btn--default {
  background-color: #59b0da;
  color: #fff; }

.btn--success {
  background-color: #5bd4be;
  color: #fff; }

.btn--error {
  background-color: #e66c6c;
  color: #fff; }

.btn--warning {
  background-color: #e67b4e;
  color: #fff; }

.btn--info {
  background-color: #a271b8;
  color: #fff; }

.grid__col--3 {
  text-align: center;
  padding: 2.5em; }

.grid__col--6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.img--frame {
  padding: 1em;
  margin-top: 3em;
  border: #c4c4c4 solid 1px; }

.grid__row {
  padding: 2.5em 0; }

.grid__col--12.theme__colors {
  border-radius: 5px;
  padding: 0.6em;
  font-size: 1.2em;
  margin-top: 0.3em;
  text-transform: lowercase;
  text-align: left;
  font-size: 1em;
  background-color: #87bfc3; }

.grid__col--6.theme__colors {
  border-radius: 5px;
  padding: 0.6em;
  font-size: 1.2em;
  margin-top: 0.3em;
  text-transform: lowercase;
  text-align: left;
  font-size: 1em;
  background-color: #588eeb; }

.grid__col--4.theme__colors {
  border-radius: 5px;
  padding: 0.6em;
  font-size: 1.2em;
  margin-top: 0.3em;
  text-transform: lowercase;
  text-align: left;
  font-size: 1em;
  background-color: #a0cbf2; }

.grid__col--3.theme__colors {
  border-radius: 5px;
  padding: 0.6em;
  font-size: 1.2em;
  margin-top: 0.3em;
  text-transform: lowercase;
  text-align: left;
  font-size: 1em;
  background-color: #dba8d5; }

.grid__col--5.theme__colors {
  border-radius: 5px;
  padding: 0.6em;
  font-size: 1.2em;
  margin-top: 0.3em;
  text-transform: lowercase;
  text-align: left;
  font-size: 1em;
  background-color: #8cd191; }

.grid__col--7.theme__colors {
  border-radius: 5px;
  padding: 0.6em;
  font-size: 1.2em;
  margin-top: 0.3em;
  text-transform: lowercase;
  text-align: left;
  font-size: 1em;
  background-color: #d98b8b; }

.grid__col--8.theme__colors {
  border-radius: 5px;
  padding: 0.6em;
  font-size: 1.2em;
  margin-top: 0.3em;
  text-transform: lowercase;
  text-align: left;
  font-size: 1em;
  background-color: #e29229; }

.nav__item {
  text-align: center;
  border-radius: 5px; }
  .nav__item a {
    border-radius: 5px;
    padding: 0.6em;
    font-size: 1.2em;
    display: block;
    color: #797373;
    text-decoration: none; }
    .nav__item a:hover {
      background-color: rgba(40, 212, 176, 0.75);
      color: #fff; }

.container {
  font-family: #797373;
  width: 80%;
  margin: auto;
  font-size: 1.11em;
  line-height: 1.7em;
  font-weight: 500;
  color: #797373; }

.blockquote {
  font-size: 1.6em;
  border-left: #5bd4be solid 10px;
  border-radius: 5px;
  margin: 1em;
  margin-bottom: 3em;
  padding-left: 1em; }
