// Media queries

@mixin mq($break-point) {
  @if $break-point == $break-sm {
    @media (min-width: $break-point) {
      @content;
    }
  } @else if $break-point == $break-lg {
    @media (min-width: $break-point) {
      @content;
    }
  }
}

// Flexbox settings

@mixin flexy {
  display: flex;
  flex-direction: column;
}

// Button settings

@mixin button {
  border-radius: 5px;
  padding: 0.6em;
  font-size: 1.2em;
}

// Grid layouts

@mixin grid-basic {
  margin-top: 0.3em;
  text-transform: lowercase;
  text-align: left;
  font-size: 1em;
}
