// Fonts

$main-font: "Titillium Web", sans-serif;

// Breakpoints

$break-sm: 480px;
$break-lg: 1400px;

// Colors

$white: #fff;
$default: rgb(26, 176, 250);
$success: rgb(91, 212, 190);
$error: rgb(230, 108, 108);
$warning: rgb(230, 123, 78);
$info: rgb(162, 113, 184);

$main-font: rgb(121, 115, 115);
