.grid__col--3 {
  text-align: center;
  padding: 2.5em;
}

.grid__col--6 {
  @include flexy;
  @include mq($break-sm) {
    padding-right: 5%;
    width: 50%;
  }
}

.img--frame {
  padding: 1em;
  margin-top: 3em;
  border: rgb(196, 196, 196) solid 1px;
  @include mq($break-sm) {
    margin-left: 3em;
    width: 100%;
  }
}

@include mq($break-sm) {
  .img--logo {
    padding-left: 2em;
    padding-right: 4em;
  }
}
