.nav__item {
  text-align: center;
  border: 1px black solid;
  border-radius: 5px;
  font-weight: bolder;

  a {
    display: block;
    color: rgb(78, 78, 78);
    text-decoration: none;
    border-radius: 5px;
    padding: 1.3em;
    &:hover {
      background-color: rgba(#28d4b0, 0.75);
      color: $white;
    }
  }
}
