.nav__item {
  text-align: center;
  border-radius: 5px;

  a {
    @include button;
    display: block;
    color: $main-font;
    text-decoration: none;

    &:hover {
      background-color: rgba(#28d4b0, 0.75);
      color: $white;
    }
  }
}
